<a href="{% url 'createRoom' %}" >Create room</a>
            <div>
                {% for room in rooms %}
                <div>
                    {% if request.user == room.host %}
                    <a href="{% url 'deleteRoom' room.id %}">deleteRoom</a>
                    {% endif %}
                    <a href="{% url 'updateRoom' room.id %}">Edit Room</a>
                    <a href="{% url 'userProfile' room.host.id %}">@{{room.host.username}}</a>
                    <h5>{{room.id}}</h5>
                    <a href="{% url 'room' room.id %}"><h3>{{room.name}}</h3></a>
                </div>
                <small>{{room.topic.name}}</small>
                <hr>
                {% endfor %}
            </div>        